/* Основные цвета Сбербанка */
:root {
  --sber-green: #00a651;
  --sber-light-green: #dff1f0;
  --sber-white: #ffffff;
  --sber-dark-gray: #424242;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: var(--sber-light-green);
  color: var(--sber-dark-gray);
}

h1 {
  color: var(--sber-green);
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--sber-dark-gray);
}

th {
  background-color: var(--sber-green);
  color: var(--sber-white);
  font-weight: bold;
}

td {
  background-color: var(--sber-white);
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--sber-green);
  color: var(--sber-white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darken(var(--sber-green), 10%);
}
